html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}
h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
figure {
    width: 125px;
    padding: 10px;
}
p {
    margin: 10px 0;
}
.container {
    width: 90%;
    margin: 30px auto;
    padding-bottom: 20px;
    /* background-color: #555;
    color: #ddd;
    border-radius: 30%; */
}
.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.character,
.player,
.enemy,
.defender {
    text-align: center;
    margin: 5px;
    display: inline-block;
}

figcaption {
    margin-left: 5px;
    text-align: center;
}

.health,
.power {
    margin-right: 10px;
    text-align: right;
}
.player img {
    border: 3px solid green;
}
.enemy img {
    border: 3px solid yellow;
}
.defender img {
    border: 3px solid red;
}
img {
    width: 100px;
    margin: 5px 0;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
}

body {
    text-align: center;
}
#message {
    font-weight: bold;
    font-size: 20px;
}
