html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/background.jpg);
    background-size: cover;
}
h1,
h2 {
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    width: 100%;
    font-size: 40px;
    margin: 20px auto;
}
h2 {
    font-size: 25px;
    margin: 10px 0;
}
figure {
    width: 125px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    font-weight: bold;
}
figcaption {
    text-align: center;
}
footer {
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    vertical-align: middle;
}
img {
    width: 100px;
    margin: 5px 0;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
}
#message {
    font-weight: bold;
    font-size: 20px;
}
.container {
    width: 90%;
    flex: 1 0 auto;
    margin: 0 auto;
}
.characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.character,
.player,
.enemy,
.defender {
    text-align: center;
    margin: 5px;
    display: inline-block;
}
.health,
.power {
    margin-right: 10px;
    text-align: right;
}
.character img {
    border: 2px solid rgb(255, 255, 255);
}
.player img {
    border: 2px solid rgb(0, 255, 0);
}
.enemy img {
    border: 2px solid rgb(255, 255, 0);
}
.defender img {
    border: 2px solid rgb(255, 0, 0);
}
